.frame-child {
  align-self: stretch;
  height: 0px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.top-level-frame-inner {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-8xs) 0px 0px;
  box-sizing: border-box;
}
.yay-its-bogo {
  margin: 0;
  height: 24px;
  width: 143px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.top-level-frame-child {
  width: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0px 0px;
  box-sizing: border-box;
}
.top-level-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  max-width: 100%;
}
.ellipse-component {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-white);
  border: 0.9px solid var(--color-silver);
  box-sizing: border-box;
}
.component-1-child {
  height: 14.5px;
  width: 14.5px;
  position: relative;
  border-radius: 50%;
  border: 0px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}
.line-frame-pair {
  width: 14.5px;
  height: 14.5px;
  position: relative;
  border-radius: 50%;
  border: 0px solid var(--gray-color);
  box-sizing: border-box;
  z-index: 1;
}
.ellipse-component1 {
  height: 18px;
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
  box-sizing: border-box;
}
.unit1 {
  width: 40px;
  height: 18px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.additional-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0px 0px;
}
.rectangle-rectangle {
  height: 17px;
  flex: 1;
  position: relative;
  border-radius: var(--br-12xs);
  background-color: var(--color-lightcoral);
}
.usd-frames {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  z-index: 1;
}
.off1 {
  height: 15px;
  width: 44px;
  position: relative;
  display: inline-block;
  z-index: 2;
  margin-left: -60px;
}
.off {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0px var(--padding-base) 0px 0px;
  margin-left: -1px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.unit {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.unit-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-lines {
  width: 141px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0px 0px;
  box-sizing: border-box;
}
.component-1-item {
  height: 9px;
  width: 9px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightcoral);
  display: none;
  z-index: 3;
}
.usd {
  width: 82px;
  height: 18px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.usd1 {
  width: 58px;
  height: 12px;
  position: relative;
  font-size: var(--font-size-3xs);
  text-decoration: line-through;
  color: var(--color-gray-100);
  display: inline-block;
  z-index: 1;
}
.usd-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.component-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-xl)
    var(--padding-3xl);
  position: relative;
  gap: var(--gap-xl);
  cursor: pointer;
}
.frame-inner {
  height: 9px;
  width: 9px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}
.unit2 {
  height: 18px;
  width: 42px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.off2 {
  height: 15px;
  width: 50px;
  position: relative;
  display: inline-block;
}
.off-toggle {
  border-radius: var(--br-12xs);
  background-color: var(--color-lightcoral);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) 0px var(--padding-12xs) var(--padding-9xs);
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.frame-sets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.component-2-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-11xs);
}
.polygon-component {
  height: 14.5px;
  width: 14.5px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 7.25px);
  left: 22px;
  border-radius: 50%;
  border: 0px solid var(--gray-color);
  box-sizing: border-box;
  z-index: 2;
}
.component-2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-7xl) var(--padding-9xl)
    var(--padding-5xl);
  position: relative;
  gap: var(--gap-xl);
  cursor: pointer;
}
.component-rectangle {
  height: 174.1px;
  width: calc(100% - 1px);
  position: absolute;
  margin: 0 !important;
  right: 0.5px;
  bottom: 0px;
  left: 0.5px;
  background-color: var(--color-snow);
  border: 2px solid var(--color-lightcoral);
  box-sizing: border-box;
}
.ellipse-instance {
  height: 14.5px;
  width: 14.5px;
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: 22.2px;
  border-radius: 50%;
  border: 0px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  z-index: 1;
}
.component-shape {
  height: 17px;
  width: 55px;
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: 98.5px;
  border-radius: var(--br-12xs);
  background-color: var(--color-lightcoral);
  z-index: 1;
}
.unit3 {
  height: 17px;
  width: 41px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.off3 {
  height: 15px;
  width: 47px;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.unit-label {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.size {
  height: 12px;
  width: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.colour {
  height: 12px;
  width: 31px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.size-colour {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.s-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-17xl) 0px var(--padding-lg);
}
.black-colour {
  height: 11px;
  width: 10px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.rectangle-pair {
  border: 0.9px solid var(--gray-color);
  outline: none;
  background-color: var(--color-white);
  height: 25.3px;
  width: 66px;
  position: absolute;
  margin: 0 !important;
  top: -7.9px;
  right: -49.2px;
  border-radius: 1.81px;
  box-sizing: border-box;
  z-index: 1;
}
.s {
  height: 13px;
  width: 7px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.rectangle-pair-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-size: var(--font-size-2xs-8);
}
.frame-polygon {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-smi);
}
.div {
  height: 11px;
  width: 12px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.rectangle-div {
  height: 25.3px;
  width: 66px;
  position: absolute;
  margin: 0 !important;
  top: -7.4px;
  right: -49.2px;
  border-radius: 1.81px;
  background-color: var(--color-white);
  border: 0.9px solid var(--gray-color);
  box-sizing: border-box;
  z-index: 1;
}
.frame-polygon1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frame-rectangle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.rectangle-frame-icon {
  width: 5.4px;
  height: 5.4px;
  position: relative;
  object-fit: contain;
  z-index: 2;
}
.rectangle-frame-wrapper {
  height: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-12xs) var(--padding-11xs) 0px;
  box-sizing: border-box;
}
.rectangle-with-polygon {
  height: 25.3px;
  width: 72.3px;
  position: absolute;
  margin: 0 !important;
  top: -6.9px;
  right: -37.7px;
  border-radius: 1.81px;
  background-color: var(--color-white);
  border: 0.9px solid var(--gray-color);
  box-sizing: border-box;
  z-index: 1;
}
.black {
  height: 13px;
  width: 28px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.black-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-with-two-frames {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-child1 {
  height: 25.3px;
  width: 72.3px;
  position: absolute;
  margin: 0 !important;
  top: -6.4px;
  right: -31.7px;
  border-radius: 1.81px;
  background-color: var(--color-white);
  border: 0.9px solid var(--gray-color);
  box-sizing: border-box;
  z-index: 1;
}
.colour1 {
  height: 13px;
  width: 34px;
  position: relative;
  display: inline-block;
  z-index: 2;
}
.frame-with-two-frames-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.free-delivery-label {
  position: absolute;
  top: 0px;
  left: 0.1px;
  width: 5.4px;
  height: 5.4px;
  object-fit: contain;
  z-index: 2;
}
.free-delivery-label1 {
  position: absolute;
  top: 32.5px;
  left: 0.1px;
  width: 5.4px;
  height: 5.4px;
  object-fit: contain;
  z-index: 2;
}
.most-popular-container {
  width: 5px;
  height: 38px;
  position: relative;
}
.frame-with-polygons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-2xs-8);
}
.frame-stack {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px var(--padding-12xs) 0px 0px;
  gap: var(--gap-xl);
  font-size: var(--font-size-4xs);
}
.frame-style {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  font-size: var(--font-size-3xs-9);
}
.frame-size {
  align-self: stretch;
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.frame-container1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-17xl) 0px 0px;
  box-sizing: border-box;
  min-width: 102px;
}
.most-popular-child {
  position: absolute;
  height: 26.92%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 73.08%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.discount-label {
  position: absolute;
  height: 100%;
  width: 92.25%;
  top: 0%;
  right: 3.88%;
  bottom: 0%;
  left: 3.88%;
  border-radius: 0px 0px var(--br-9xs) var(--br-9xs);
  background-color: var(--color-lightcoral);
  z-index: 1;
}
.most-popular1 {
  position: absolute;
  top: 23.08%;
  left: 10.85%;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.most-popular {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  height: 26px;
  position: relative;
  z-index: 1;
}
.usd4 {
  width: 84px;
  height: 18px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.usd5 {
  height: 12px;
  width: 58px;
  position: relative;
  text-decoration: line-through;
  display: inline-block;
  z-index: 1;
}
.currency-symbol-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-30xl) 0px var(--padding-3xl);
  font-size: var(--font-size-3xs);
  color: var(--color-gray-100);
}
.total-u-s-d-label {
  width: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-mini-5);
}
.component-3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px var(--padding-14xl) var(--padding-29xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  max-width: 100%;
  flex-shrink: 0;
}
.total-design-frame {
  position: absolute;
  top: 2.7px;
  left: 2.7px;
  border-radius: 50%;
  background-color: var(--color-lightcoral);
  width: 9px;
  height: 9px;
  z-index: 3;
}
.ellipse-pair {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  border: 0px solid var(--color-lightcoral);
  box-sizing: border-box;
  width: 14.5px;
  height: 14.5px;
  z-index: 4;
}
.frame-with-ellipses {
  height: 15px;
  width: 15px;
  position: absolute;
  margin: 0 !important;
  top: 37px;
  left: 22.5px;
}
.component-3-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.rectangle-component {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  max-width: 100%;
}
.text-frame {
  width: 345px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini-5);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-container-child {
  width: 9px;
  height: 9px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lightcoral);
  display: none;
}
.frame-container-item {
  width: 14.5px;
  height: 14.5px;
  position: relative;
  border-radius: 50%;
  border: 0px solid var(--color-lightcoral);
  box-sizing: border-box;
  display: none;
}
.free-delivery {
  height: 17px;
  width: 89px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.usd6 {
  font-weight: 500;
}
.total-1800-container {
  height: 17px;
  width: 128px;
  position: relative;
  color: var(--color-black);
  display: inline-block;
}
.free-delivery-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-container-inner {
  width: 342px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 0px 0px var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.plus-icon {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 16px;
}
.add-to-cart {
  height: 15px;
  width: 68px;
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.add-to-cart-button {
  cursor: pointer;
  border: none;
  padding: var(--padding-xs) var(--padding-xl);
  background-color: var(--color-lightcoral);
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
  white-space: nowrap;
}
.add-to-cart-button:hover {
  background-color: var(--color-indianred);
}
.powered-by-pumper {
  height: 15px;
  width: 129px;
  position: relative;
  display: inline-block;
}
.pumper-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-11xs);
}
.powered-by-label {
  width: 342px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.frame-container {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-xl) var(--padding-27xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-lightcoral);
  font-family: var(--font-inter);
}

@media screen and (max-width: 450px) {
  .yay-its-bogo {
    font-size: var(--font-size-base);
  }

  .top-level-frame {
    flex-wrap: wrap;
  }

  .component-1 {
    flex-wrap: wrap;
  }

  .component-2 {
    flex-wrap: wrap;
  }

  .component-3 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }

  .free-delivery-parent {
    flex-wrap: wrap;
  }
}
